<div [hidden]="question.hidden">
    <div nz-row >
        <div nz-col>
            <nz-card>
                <ng-template #title>
                    <label nz-form-item-required >{{question.title}}</label>
                </ng-template>
                <ng-template #body>
                    <form nz-form [formGroup]="validateForm" [nzLayout]="'inline'">
                        <div nz-form-item>
                            <div nz-form-control [nzValidateStatus]="getFormControl('phone')">
                                <div style="float: left">
                                    <nz-input   [(ngModel)]="localAnswer" (ngModelChange)="answerChange()" [nzDisabled]="editdisabled" [nzType]="pwdOrtext" formControlName="phone" ></nz-input>
                                </div>
                                <div style="float: left" (click)="Onclick()">
                                    <i class="anticon anticon-eye" ></i>
                                </div>
                                <br>
                                <div nz-form-explain *ngIf="getFormControl('phone').dirty&&getFormControl('phone').touched&&getFormControl('phone').hasError('phone')">
                                    手机号格式不合法
                                </div>
                                <div nz-form-explain *ngIf="(getFormControl('phone').dirty||getFormControl('phone').touched)&&getFormControl('phone').hasError('required')">
                                    <span id="explan">必填项</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </nz-card>
        </div>
    </div>

</div>
