<div class="content__title">
    <h1>文件上传</h1>
</div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="6">
        <nz-card>
            <ng-template #title>选择文件</ng-template>
            <ng-template #body>
                <div ng2FileDrop [ngClass]="{'bg-grey-lighter': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
                     class="box-placeholder">
                    将文件拖拽此处上传
                </div>
                <h3 class="text-md">上传文件</h3>
                <button nz-button class="ant-btn__block file-upload mt-sm">
                    <input id="fileMultiple" accept type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" multiple />
                    <i class="anticon anticon-upload"></i><span>选择文件</span>
                </button>
            </ng-template>
        </nz-card>
    </div>
    <div nz-col [nzMd]="18">
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <nz-card>
                    <ng-template #title>文件上传队列</ng-template>
                    <ng-template #body>
                        <nz-table #nzTable [nzDataSource]="files" [nzCustomNoResult]="true" [nzIsPagination]="false">
                            <div noResult>请选择文件上传</div>
                            <thead nz-thead>
                            <tr>
                                <th nz-th><span>文件名</span></th>
                                <th nz-th><span>大小</span></th>
                                <th nz-th><span>进度</span></th>
                                <th nz-th><span>状态</span></th>
                                <th nz-th><span>操作</span></th>
                            </tr>
                            </thead>
                            <tbody nz-tbody>
                            <tr nz-tbody-tr *ngFor="let item of nzTable.data">
                                <td nz-td><strong>{{ item?.file?.name }}</strong></td>
                                <td nz-td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024 | number:'.2' }} KB</td>
                                <td nz-td *ngIf="uploader.options.isHTML5">
                                    <nz-progress [ngModel]="item.progress" [nzStrokeWidth]="5"></nz-progress>
                                </td>
                                <td nz-td class="text-center">
                                    <span *ngIf="item.isSuccess"><nz-tag [nzColor]="'green'">成功</nz-tag></span>
                                    <span *ngIf="item.isCancel" class="mr-md"><nz-tag [nzColor]="'orange'">取消</nz-tag></span>
                                    <span *ngIf="item.isError"><nz-tag [nzColor]="'red'">失败</nz-tag></span>
                                </td>
                                <td nz-td nowrap>
                                    <nz-button-group>
                                        <button nz-button (click)="item.upload()" [nzType]="'primary'" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <i class="anticon anticon-upload"></i>
                                        </button>
                                        <button nz-button (click)="item.cancel()" [disabled]="!item.isUploading">
                                            <i class="anticon anticon-close"></i>
                                        </button>
                                        <button nz-button (click)="item.remove()">
                                            <i class="anticon anticon-delete"></i>
                                        </button>
                                    </nz-button-group>
                                </td>
                            </tr>
                            </tbody>
                        </nz-table>
                    </ng-template>
                </nz-card>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <nz-card>
                    <ng-template #body>
                        <nz-progress [ngModel]="uploader.progress" [nzStrokeWidth]="5"></nz-progress>
                        <nz-button-group class="mt-md d-block">
                            <button nz-button (click)="uploader.uploadAll()" [nzType]="'primary'" [nzLoading]="uploader.isUploading" [disabled]="!uploader.getNotUploadedItems().length">
                                <i class="anticon anticon-upload"></i><span>上传全部</span>
                            </button>
                            <button nz-button (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                <i class="anticon anticon-close"></i><span>取消全部</span>
                            </button>
                            <button nz-button (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                <i class="anticon anticon-delete"></i><span>删除全部</span>
                            </button>
                        </nz-button-group>
                        <div class="steps-action">
                            <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="exit()">
                                <span>退出</span>
                            </button>
                        </div>
                    </ng-template>
                </nz-card>

            </div>
        </div>
    </div>

</div>

