<div [hidden]="question.hidden">
    <div nz-row >
        <div nz-col>
            <nz-card>
                <ng-template #title>
                    <label>{{question.id1}}{{question.title}}</label>
                </ng-template>
                <ng-template #body>
                    <form nz-form  >
                        <div nz-form-item  nz-row >
                            <div nz-form-label nz-col [nzSm]="2">
                                <label >麻醉方式</label>
                            </div>
                        <div nz-form-control nz-col [nzSm]="20">
                            <nz-radio-group [(ngModel)]="initialArray[0]" [ngModelOptions]="{standalone: true}" >
                                <ng-container *ngFor="let item of mazui,index as i">
                                    <label  nz-radio [nzValue]="i+1"  [nzDisabled]="editdisabled">
                                        <span>{{item}}</span>
                                    </label>
                                </ng-container>
                            </nz-radio-group>
                        </div>
                        </div>
                        <div nz-form-item  nz-row>
                            <div nz-form-label nz-col [nzSm]="2">
                                <label >造影剂使用剂量</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="8">
                                <nz-input [(ngModel)]="initialArray[1]" [nzDisabled]="editdisabled" [ngModelOptions]="{standalone: true}" ></nz-input>
                            </div>
                        </div>
                        <div nz-form-item  nz-row >
                            <div nz-form-label nz-col [nzSm]="2">
                                <label >穿刺部位</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="20">
                                <nz-radio-group [(ngModel)]="initialArray[2]"  [ngModelOptions]="{standalone: true}" >
                                    <ng-container *ngFor="let item of chuanci,index as i">
                                        <label  nz-radio [nzValue]="i"  [nzDisabled]="editdisabled">
                                            <span>{{item}}</span>
                                        </label>
                                    </ng-container>
                                </nz-radio-group>
                                <nz-input [(ngModel)]="initialArray[4]" [nzDisabled]="initialArray[2] != 3" [ngModelOptions]="{standalone: true}" ></nz-input>
                            </div>
                        </div>
                        <div nz-form-item  nz-row>
                            <div nz-form-label nz-col [nzPush]="4">
                                <span >可选：1、血流畅通 2、少量充盈缺损 3、大量充盈缺损 4、双轨征 5、截断征 6、显影不良 7、侧支形成 8、未显影 9、交通支开放 10、完全闭塞</span>
                            </div>
                        </div>
                        <div nz-form-item  nz-row>
                            <div nz-form-control nz-col [nzSm]="15">
                                <nz-table [nzDataSource]="rawname1" [nzIsPagination]="false">
                                    <thead nz-thead>
                                    <tr>
                                        <th nz-th><span>静脉</span></th>
                                        <th nz-th><span>左</span></th>
                                        <th nz-th><span>右</span></th>
                                    </tr>
                                    </thead>
                                    <tbody nz-tbody>
                                    <tr nz-tbody-tr *ngFor = "let Name of rawname1,index as i">
                                        <td nz-td>{{Name}}</td>
                                        <td nz-td>
                                    <span>
                                    <nz-input-number  [nzMin]="0" [nzMax]="10" [(ngModel)]="initialArray[5+i]" [nzDisabled]="editdisabled" [ngModelOptions]="{standalone: true}"></nz-input-number>
                                    </span>
                                        </td>
                                        <td nz-td>
                                    <span>
                                        <nz-input-number  [nzMin]="0" [nzMax]="10"  [(ngModel)]="initialArray[15+i]" [nzDisabled]="editdisabled" [ngModelOptions]="{standalone: true}"></nz-input-number>
                                    </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                        <div nz-form-item  nz-row>
                            <div nz-form-label nz-col [nzSm]="2">
                                <label >下腔静脉</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="8">
                                <nz-input [(ngModel)]="initialArray[25]" [nzDisabled]="editdisabled" [ngModelOptions]="{standalone: true}" ></nz-input>
                            </div>
                        </div>
                        <div nz-form-item  nz-row>
                            <div nz-form-label nz-col [nzSm]="2">
                                <label >肺动脉左</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="8">
                                <nz-input-group [nzSize]="'large'">
                                    <div nz-col [nzSpan]="4">
                                        <nz-input-number  [nzMin]="0" [nzMax]="10" [(ngModel)]="initialArray[26]" [nzDisabled]="editdisabled"  [ngModelOptions]="{standalone: true}"></nz-input-number>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <input [(ngModel)]="initialArray[27]" [ngModelOptions]="{standalone: true}" nz-input>
                                    </div>
                                </nz-input-group>
                            </div>
                        </div>
                        <div nz-form-item  nz-row>
                            <div nz-form-label nz-col [nzSm]="2">
                                <label >肺动脉右</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="8">
                                <nz-input-group [nzSize]="'large'">
                                    <div nz-col [nzSpan]="4">
                                        <nz-input-number  [nzMin]="0" [nzMax]="10" [(ngModel)]="initialArray[28]" [nzDisabled]="editdisabled" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}"></nz-input-number>
                                    </div>
                                    <div nz-col [nzSpan]="8">
                                        <input [(ngModel)]="initialArray[29]" nz-input [ngModelOptions]="{standalone: true}">
                                    </div>
                                </nz-input-group>
                            </div>
                        </div>
                        <div nz-form-item  nz-row >
                            <div nz-form-label nz-col [nzSm]="2">
                                <label >肾静脉</label>
                            </div>
                            <div nz-form-control nz-col [nzSm]="20">
                                <nz-radio-group [(ngModel)]="initialArray[30]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                    <ng-container *ngFor="let item of tf,index as i">
                                        <label  nz-radio [nzValue]="i+1"  [nzDisabled]="editdisabled">
                                            <span>{{item}}</span>
                                        </label>
                                    </ng-container>
                                </nz-radio-group>
                            </div>
                        </div>
                        <div nz-form-item nz-row >
                            <div nz-col [nzSm]="12">
                                <div nz-form-item  nz-row>
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >左肾静脉开口部位</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[31]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of jmpart,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[31]==1">
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >上</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[32]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[31]==1">
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >中</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[33]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[31]==1">
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >下</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[34]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>

                                <div nz-form-item  nz-row *ngIf="initialArray[31]==2">
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >上</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[35]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[29] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[31]==2" >
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >中</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[36]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[31]==2">
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >下</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[37]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>


                            </div>
                            <div nz-col [nzSm]="12">
                                <div nz-form-item  nz-row >
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >右肾静脉开口部位</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[38]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of jmpart,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[38]==1">
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >上</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[39]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[38]==1">
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >中</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[40]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[38]==1" >
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >下</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[41]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[38]==2">
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >上</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[42]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[38]==2">
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >中</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[43]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                                <div nz-form-item  nz-row *ngIf="initialArray[38]==2">
                                    <div nz-form-label nz-col [nzSm]="4">
                                        <label >下</label>
                                    </div>
                                    <div nz-form-control nz-col [nzSm]="8">
                                        <nz-radio-group [(ngModel)]="initialArray[44]" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}" >
                                            <ng-container *ngFor="let item of tf,index as i">
                                                <label  nz-radio [nzValue]="i+1"  [nzDisabled]="(initialArray[30] == 1)">
                                                    <span>{{item}}</span>
                                                </label>
                                            </ng-container>
                                        </nz-radio-group>  </div>
                                </div>
                            </div>
                        </div>

                        <div nz-form-item  nz-row>
                            <div nz-form-control nz-col [nzSm]="10">
                                <nz-table [nzDataSource]="rawname2" [nzIsPagination]="false">
                                    <thead nz-thead>
                                    <tr>
                                        <th nz-th><span>部位</span></th>
                                        <th nz-th><span>上下压</span></th>
                                    </tr>
                                    </thead>
                                    <tbody nz-tbody>
                                    <tr nz-tbody-tr *ngFor = "let Name of rawname2,index as i">
                                        <td nz-td>{{Name}}</td>
                                        <td nz-td>
                                      <span>
                                        <nz-input-number [nzMin]="0" [nzMax]="300" [(ngModel)]="initialArray[45+i]" [nzDisabled]="editdisabled" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}"></nz-input-number>
                                        /
                                        <nz-input-number [nzMin]="0" [nzMax]="300" [(ngModel)]="initialArray[51+i]" [nzDisabled]="editdisabled" (ngModelChange)="answerChange()" [ngModelOptions]="{standalone: true}"></nz-input-number>
                                    </span>
                                            mmHg
                                        </td>
                                    </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </nz-card>
        </div>
    </div>
</div>
