/*indigo-pink.css";purple-green.css;pink-bluegrey.css*/
@import "~@angular/material/prebuilt-themes/purple-green.css";
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;

}
